<div class="container">
    <div class="row">
        <div class="card col-sm-3 mt-3 mb-3 mx-auto">
            <div class="card-header text-center d-flex align-items-center justify-content-center">
                <%= image_tag 'favicon.ico' %>
            </div>
            <div class="card-body">
                <p class="fs-3 text-center fw-bold"> Send a Message </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9">
        <div class="card px-5 pb-5 pt-3" style="height: 450px;">
            <p class="text-center fw-bold"> Messages </p>
            <div class="list-group overflow-scroll" id="chatbox">
                <!-- Received Message -->
                <%= turbo_stream_from "chatroom" %>
                <div id="messages">
                    <% @messages.each do |message| %>
                        <%= render 'messages/message', message: message %>
                    <% end %>
                </div>
            </div>
            <%= form_for(@message, html: {class: "mt-3", id: "message_form"}, url: message_path, remote: true) do |f| %>
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <%= f.text_field :body, placeholder: "Type a message...", class: "form-control" %>
                    </div>
                    <div class="col-auto">
                        <%= f.submit 'Send', class: "btn btn-primary" %>
                    </div>
                </div>
            <% end %>
            
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-3" style="height: 400px;">
            <p class="text-center fw-bold"> Users </p>
            <ul class="list-group overflow-scroll">
                <% @users.each do |user| %>
                    <li class="list-group-item"><%= user.username %></li>
                <% end %>
            </ul>
        </div>
    </div>
  </div>
</div>

<script>
    window.onload = function() {
        var chatbox = document.getElementById('chatbox');
        chatbox.scrollTop = chatbox.scrollHeight;
    };
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('message_form').addEventListener('submit', function() {
        setTimeout(function() {
            document.getElementById('message_form').reset();
        }, 0);
        });
    });
</script>

<script>
  function scrollToBottom() {
    var chatbox = document.getElementById('chatbox');
    chatbox.scrollTop = chatbox.scrollHeight;
    <%= puts "success" %>
  }
</script>
